.grid-wrapper{
  white-space: nowrap;
  min-width: 90;
}

.column,
.column-features{
  display: inline-block;
  background: white;
  margin-right: .3rem;
}

.row{
  background: #F7F7EF
}
.plans{
  font-size:1.1rem;
  text-align: center;
  border-radius: .3rem;
  padding: 1rem;
  border: .05rem solid white;
  color: white;
  font-weight: 600;
  background: #E21673;
}

.row-grey{
background: rgb(230,230,230);
}



.row,
.row-grey{
  padding: .8rem;
  border-left: .3rem solid white;
  border-right: .3rem solid white;
  font-size: .9rem;
  font-weight: 900;


}

.removable{
  text-align: center;
  font-weight: 100;
}

/*@media screen and (min-width: 1200px) {
    body {
        color: red;
    }
}*/

.column:hover > .minus{
  opacity: 10%;

}

.minus{
  opacity: 0%;
}

.minus:hover{
  opacity: 100% !important;
}
