
.grid-wrapper{
  white-space: nowrap;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 2rem;
}

.column,
.column-features{
  display: inline-block;
  background: white;
  margin-right: .3rem;
  vertical-align: top;

}

.column-wrapper{
  display: inline-block;
}


.row{
  background: #F7F7EF;
  border: .05rem solid white;

}
.plans{
  font-size:.9rem;
  text-align: center;
  border-radius: .3rem;
  padding: 1rem;
  color: white;
  font-weight: 600;
  background: #E21673;

}

.row-grey{
background: rgb(230,230,230);
}



.row,
.row-grey{
  padding: .8rem;
  border-left: .3rem solid white;
  border-right: .3rem solid white;
  font-size: .75rem;
  font-weight: 900;
  border: .05rem solid white;

}

.removable{
  text-align: center;
  font-weight: 100;
}

@media screen and (max-width: 1400px) {
   .row,
   .row-grey{
    font-size: 1rem;
   }
   .plans{
    font-size: 1.5rem;
   }
    .grid-wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    }
    #col-9{
      display: none;
    }
}

@media screen and (max-width: 1000px) {
   .row,
   .row-grey{
    font-size: 1rem;
   }
   .plans{
    font-size: .7rem;
    padding: .4rem;
   }
   .banner{
    display: none;
   }
    .grid-wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    }
    button.calculate{
      padding: .3rem;
      font-size: .6rem;
    }
    input#input{
      padding: .3rem;
    }

  .row,
  .row-grey{
    padding: .4rem;
    font-size: .55rem;
  }
}

.column:hover > .minus{
  opacity: 10%;

}

.minus{
  opacity: 0%;
}

.minus:hover{
  opacity: 100% !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* line 6, /home/max/code/maxfrda/diary/app/assets/stylesheets/_dropdown.scss */
.dropdown-child {
  display: none;
  background-color: white;
  min-width: 150px;
  position: absolute;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/* line 15, /home/max/code/maxfrda/diary/app/assets/stylesheets/_dropdown.scss */
.dropdown-item {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.add{
  display: inline-block;
  vertical-align: top;
  opacity: 30%;
  margin-left: 2rem;
  margin-top: 1rem;
}

.add:hover{
  opacity: 100%;
}

.more-plans{
  display: inline-block;
  vertical-align: top;
}

.more{
  background: #F7F7EF;;
}

.extra-plans{
  font-size:.9rem;
  text-align: center;
  padding: .5rem;
  border: .05rem solid white;
  color: white;
  font-weight: 600;
  background: #E21673;
  border-radius: .3rem;
  display: block;

}
#extras-dropdown{
  display: none;
}

.extra-plans:hover{
  transform: scale(1.1);

}



.fas.fa-plus-circle{
  padding-top: 1rem;
  padding-right: .3rem;
  opacity: 0%;

}

.fas.fa-plus-circle:hover{
  opacity: 100%;
}

.fa-plus{
  color: #E21673;
  margin-left: 1rem;
  opacity: 30%;
  transform: scale(.8);
}

.fa-plus:hover{
  transform: scale(.9);
  opacity: 100%;
}

.fa-minus{
  color: #E21673;
  margin-left: 1rem;
  transform: scale(.8);
}

.fa-minus:hover{
  transform: scale(.75);

}

.calculate{
  background: #E21673;
  border-radius: .2rem;
  color: white;
  font-weight: 600;
  border: none;
  padding: .6rem;
  /*margin-top: .5rem;*/
  /*margin-right: 2rem;*/
  margin: 0 auto;

}

.calculate:hover{
  background: #E82279
}

.prices{
  margin: .1rem;
  font-weight: 600;
}

#input{
  font-size: .7rem;
  text-align: center;
  padding:.6rem;
  border-radius: .2rem;
  border: none;


}

.banner {
text-align: center;
margin-bottom: 1rem;

}
